.login-form {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  width: 400px;
  background: #2c2f33;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  color: #fff;
  margin: 10px;
  padding: 10px;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-fields {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  font-size: 0.9rem;
  color: lightslategray;
}
input {
  margin-bottom: 10px;
  width: 200px;
  padding: 10px;
  margin-left: 0;
  background: rgb(7, 7, 7);
  outline: none;
  border: none;
  color: lightslategray;
}
h6 {
  margin-bottom: 10px;
  color: lightslategray;
}
.login-header {
  text-align: center;
}
label {
  margin-bottom: 5px;
}
button {
  margin-top: 16px;
  width: 225px;
  background: #5865f2;
  color: #fff;
  padding: 10px;
}
.link-color {
  color: #5865f2;
}
